# Ignore environment files
*.env

# Node modules
**/node_modules/

# Build artifacts
dist/

# Logs
logs
*.log
npm-debug.log*

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cache directories
.cache/
.parcel-cache/
.nyc_output/
coverage/